@{
    ViewBag.Title = "Add data";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-block" id="export-csv">Export csv</button>
    </div>
</div>

<div class="row">
    <div id="jsGrid"></div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jsgrid")
<<<<<<< HEAD
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAWWaaJ2atEq-dBAFaX0iNwKdeWDPASF8A")
=======
    @Scripts.Render("~/bundles/app")
>>>>>>> e41045d79c3db166ea7ff6510fc55e5e9631c38a

}